header{
    
    .header-top{
        background-color: $primary_color;
        text-align: right;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold;
        color: whitesmoke;
        padding: 5px 0;

        .container{

            span{
                margin-left: 20px;
            }
        }
    }

    .header-bottom{
        padding: 20px 0;
        font-weight: bold;

        .container{
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo{

                img{
                    max-width: 80px;
                }
            }
    
            .menu{
    
                ul{
                    margin: 0;
                    padding: 0;
    
                    li{
                        display: inline-block;
                        margin-right: 20px;

                        a{
                            display: inline-block;
                            color: $secondary_color;
                            text-decoration: none;
                            text-transform: uppercase;
                        }

                        a:hover{
                            color: $primary_color;
                        }

                        .active{
                            color: $primary_color;
                        }
                    }
                }
            }

        }
        
    }
}